.recipe-container {
     display: flex;
     margin-bottom: 20px;
     border: 1px solid #ddd;
     border-radius: 8px;
     overflow: hidden; /* Ensures rounded corners are visible */
     box-shadow: 0 2px 4px rgba(0,0,0,0.1);
 }

 .recipe-image {
     flex: 1;
     overflow: hidden; /* To contain the image within this div */
 }

 .recipe-image img {
     width: 100%;
     height: auto;
     display: block; /* Removes any extra whitespace below image */
     object-fit: cover;
 }

 .recipe-description {
     flex: 2;
     padding: 20px;
 }

 .recipe-description h3{
     margin-bottom: 10px;
 }
